.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 50vw;    
    margin: 2rem auto;    
}

.form button{
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    background-color: #55917F;
    color: white;
    font-size: 1rem;
    font-weight: 700;    
    cursor: pointer;
    width: 9vw;
}

form .buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;    
}

form .registerButton{
    background-color: #FC7753;
}